*{
padding: 20px; 
border: 5px solid rgba(103, 32, 151, 0.411);
border-style: groove;
}



h1{
    text-align: center;
    color: rgb(253, 253, 253);
    font-size: 50px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(fotos/galaxia.webp);
    cursor: cell;
}

h2{
    color: rgb(0, 0, 0);
}

#Cristiancbr{
    text-align: center;
   color: rgb(255, 255, 255);
   background-color: antiquewhite;
   background-image: url(fotos/galaxia.webp);

}

.parrafo{
    text-align: center;
    color: white;
    background-color: rgb(150, 52, 153);
    font-family: 'Times New Roman', Times, serif;
    background-image: url(fotos/galaxia.webp);
}

#contenedor{

background-color: antiquewhite;
}

#item1 h2{
    color: rgb(255, 255, 255);
    background-color: rgb(228, 225, 44);
    background-image: url(fotos/galaxia.webp);
}

#item2 h2{
    color: brown;
    background-color: rgb(206, 151, 49);
    background-image: url(fotos/galaxia.webp);
}